<footer class="text-gray-600 body-font">
  <div class="bg-neutral-300 w-full dark:bg-gray-700 dark:text-slate-200">
    <div class="px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
      <a
        class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.8"
          class="w-11 h-11 text-white p-2 border-2 border-indigo-900 bg-indigo-500 dark:bg-slate-800 dark:text-slate-300 dark:border-slate-400 rounded-full"
          viewBox="0 0 24 24"
        >
          <path
            d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"
          />
        </svg>
        <span class="ml-3 text-xl font-mono font-semibold dark:text-slate-100"
          >CRUD APP</span
        >
      </a>
      <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4 dark:text-gray-500" >
        © <span id="copyright"></span> CRUD -
        <a
          href="https://hiteshsakkarwal.blogspot.com/"
          rel="noopener noreferrer"
          class="text-gray-900 ml-1 dark:text-gray-200"
          target="_blank"
          >@HitesH Sakkarwal</a
        >
      </p>
      <span
        class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
      >
        <a
          href="https://www.facebook.com/"
          class="text-gray-500 dark:text-gray-300"
        >
          <svg
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <path
              d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
            ></path>
          </svg>
        </a>
        <a
          href="https://www.instagram.com/hiteshsakkarwal24/"
          class="ml-3 text-gray-500 dark:text-gray-300"
        >
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path
              d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
            ></path>
          </svg>
        </a>
        <a
          href="https://www.linkedin.com/in/hitesh-sakkarwal/"
          class="ml-3 text-gray-500 dark:text-gray-300"
        >
          <svg
            fill="currentColor"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="0"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <path
              stroke="none"
              d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
            ></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </div>
</footer>
