<a href="/"
class="flex flex-col items-center bg-white mx-auto rounded-lg border my-10 md:my-7 lg:mt-7 shadow-xl md:flex-row md:max-w-3xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600">
<img class="object-cover w-full h-60 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
    src="../assets/img/document.jpg" alt="">
<div class="flex flex-col justify-between items-center p-4 leading-normal font-Baloo_Da_2">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-neutral-700 dark:text-slate-400">
        <span class="flex sm:flex md:inline-block lg:inline-block">C-Create <span class=" hidden md:inline ">||</span></span>
        <span class="flex sm:flex md:inline-block lg:inline-block">R-Read <span class=" hidden md:inline ">||</span></span>
        <span class="flex sm:flex md:inline-block lg:inline-block">U-Update <span class=" hidden md:inline ">||</span></span>
        <span class="flex sm:flex md:inline-block lg:inline-block">D-Delete</span>
    </h5>
</div>
</a>